.bannerContainer {
  background-color: #000;
  width: 100%;
  height: 45rem;
  margin-block-start: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-image: linear-gradient(180deg, #5e503f, #c6ac8f);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.7rem;
  text-align: center;
  position: relative;
}

.bannerTextWrapper {
  z-index: 1;
}

h1 {
  font-weight: 300;
  position: relative;
  z-index: 1;
}

.bannerTextWrapper::after {
  content: "";
  position: absolute;
  top: -1.5rem;
  left: -1.5rem;
  right: 0;
  bottom: 0;
  width: 140%;
  height: 140%;
  max-width: 110%;
  background-color: #000;
  opacity: 50%;
  z-index: -1;
}

.nameStyle {
  font-weight: 900;
}

.bannerImages {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: opacity(90%);
}

.test {
  width: 25rem;
  height: 10rem;
  position: absolute;
  left: 10rem;
  top: 40rem;
  /* 
  //Pattern */
  /* background: repeating-radial-gradient(
      circle,
      transparent,
      transparent 35px,
      #ffffff 35px,
      #ffffff 45px
    ),
    repeating-radial-gradient(
      circle,
      transparent,
      transparent 35px,
      #ffffff 35px,
      #ffffff 45px
    ),
    #432818;
  background-size: 200px 200px;
  background-position: 0 0, 100px 100px, 200px 100px;
  background-color: #432818; */
}
