.btn {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-size: 1.2rem;
  background-image: linear-gradient(90deg, #ffdd00, #a6c9b3);
  background-image: linear-gradient(90deg, #d4cc87, #a6c9b3);
  background-image: linear-gradient(90deg, #ffdd00, #ffaa00);
  transition: all 0.2s ease-out;
}

.btn:hover {
  background-image: linear-gradient(90deg, #d4cc87, #ffaa00);
  /* background-color: #f7d035; */
}
