footer {
  background: linear-gradient(360deg, #634a3a, #ac8250);
  width: 100%;
  max-width: 100%;
  margin-block-start: 4rem;
  color: #fff;
}
.footerContainer {
  padding-block-start: 2rem;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  font-size: 1.1rem;
}

.footerSection {
  flex: 1;
  min-width: 250px;
  margin-bottom: 1rem;
}

/* Footer Logo and Description */
.footerLogo {
  color: #ecf0f1;
}

.img {
  border-top-left-radius: 10px;
  max-width: 5rem;
}

.footerSection:first-child {
  /* flex: 0.5; */
}

.footerDescription {
  line-height: 1.4rem;
}

/* Quick Links */
.footerHeading {
  color: #ecf0f1;
}

.footerLinks {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.footerLinks a {
  color: #ecf0f1;
  text-decoration: none;
}

.footerLinks a:hover {
  text-decoration: underline;
}

/* Social Media Links */
.footerSocials {
  margin-top: 1rem;
}
.footerSocials a {
  color: #ecf0f1;
  margin-right: 10px;
  text-decoration: none;
}

.footerSocials a:hover {
  text-decoration: underline;
}

/* Bottom Section */
.footerBottom {
  text-align: center;
  border-top: 1px solid #ecf0f1;
  font-size: 14px;
  width: 100%;
  padding: 0.5rem 0;
}
