.container {
  max-width: 99%;
  margin-inline: auto;
  min-height: 40rem;
  background-color: #333;
  /* overflow-x: scroll; */
  /* z-index: 1000000; */
  display: flex;
  flex-direction: column;
  position: relative;
}

.btnWrapper {
  max-width: 99%;
  padding-top: 0.6rem;
  position: absolute;
  top: 0.3rem;
  right: 0.6rem;
  z-index: 3;
}

.closeBtn {
  background-color: red;
  font-size: 1rem;
}

/* Container for the timeline */
.timelineContainer {
  display: flex;
  /* flex-direction: column;
  align-items: center; */
  width: 100%;
  min-height: 35.8rem;
  /* background-color: wheat; */
  /* overflow-y: scroll;
  overflow: scroll; */
  overflow-x: scroll;
}

.timelineWrapper {
  width: 200rem;
  height: 100%;
}

.timelineLine {
  width: 200rem;
  height: 1rem;
  background-color: #fff;
  display: block;
}

.progressBar {
  /* width: 100%; */
  /* height: 2rem; */
  /* background-color: goldenrod; */
  /* position: absolute;
  bottom: 0; */
}
